

*{
	margin: 0;
	box-sizing: border-box;
}


header {
	background-color: #000000;
	
}

h1{
	color: white;
	text-align: center;
}


li {
	list-style: none;
	display: inline-block;
}

nav{
	padding: 1em;
	text-align: center;
	background-color: white;
}

div{
	margin: 0.5em;
}

a{
	background-color: #D86A1E;
	margin: 1em;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size-adjust: 5em;
	padding: 0.5em;

}

/*CLASES ESPECIFICAS*/

section div.ancho{
	width: 48.5%;
	height: 10em;
	align-self: center;
	display: inline-block;
	text-align: center;
}

section div.largo{
	width: 100%;
	text-align: center;
	display: inline-block;
}

section div.ancho2{
	width: 31.85%;
	height: 10em;
	display: inline-block;
	text-align: center;
	}

/*CLASES GeNERALES */

.banner{
	width: auto;
}
.titulo{
	width: 80%;
	display: inline-block;
}
.fondo1{
	background-color: pink;
}

.fondo2{
	padding: 1em;
	background-color: blue;
	display: inline-block;
	width: 98.5%;

}

.fondo3{
	background-color: green;
}

.imgGoogle {
	width: 25%;
	height: 25%;
	padding: 0.5em;
}


.botonColor{
	background-color: #CF872A;
}

.iconoPerro{
	width: 80px;
	height: 80px;
	display: inline-block;
}

.imagenPerro{
	float: right;
	width: 4em;
	height: 4em;

}

.mapa{
	background-color: yellow;

}

.izq{
	float: left;
}
.der{
	float: right;
}

/*MEDIA-QWERY*/

@media screen and (max-width: 800px){

	a{
		background-color: orange;
		margin: 0.4em;
		color: #FFFFFF;
		font-family: sans-serif;
		font-size-adjust: 8px;
		padding: 0;
		display: inline-table;
		height: 0.25em;

	}

	nav{
		background-color: orange;
		position: fixed;
		right: 0;
		top: 45%;
		text-align: none;
		width: 40%;
		height: 8em;
		padding: 0;
		margin: 0;
		

	}

	div.titulo{
		width: 50%;
	}

	div.fondo1.ancho{
		width: 96%;
		padding: 0;
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-top: 0;
		margin-bottom: 0;
	}

	div.fondo2{
		width: 96%
	}

	header.banner{
		margin-bottom: 0.5em;

	}

	img.iconoPerro.izq{
		left: 0.5em;
		bottom: 0.5em;
	}

	img.iconoPerro.der{
		display: none;
	}

	div.fondo3.ancho2{
		display: none;
	}
}