body{
	background: #B0C4DE;
}

div{
	background: #FFFAF0;
}

h1,h2{
	font-family: sans-serif;
	color: red;
}

h1{
	font-size: 1.3em;
}
h2{
	font-size: 1em;
}

#encabezado{ background: yellow; }

/* esto es uncomentarioen css */